sections#about_modal(style="display: none")
  .container-own
    img(src!="<?php echo get_template_directory_uri();?>/images/close_modal.png").closer
    h3 О компании
    div(class="mCustomScrollbar text" data-mcs-theme="dark")
      b="В настоящее время Группа компаний комплексного инжиниринга, "
      span состоящая из двух организаций: ТОО «Бизнес Инжиниринг» и ИП «Геомаркшейдер», - это динамично развивающаяся на протяжении уже 10 лет компания.
      p Группа компаний имеет в своей структуре следующие подразделения:
      ul
        li отдел инженерной геологии;
        li отдел инженерной геодезии;
        li отдел маркшейдерии;
        li отдел геотехники и геофизики;
        li проектный отдел;
        li отдел продаж.
      span В активах компании имеются:
      ul
        li
          b="Геодезическое оборудование"
          span - высокоточные спутниковые GNNS GPS приемники, Электронные тахеометры, Гироскопический теодолит, Трассопоисковый комплекс, Специальные маркшейдерские инструменты;
        li
          b="Аэрофотосъемочные комплексы"
          span - беспилотные системы с высокоточным оборудованием на борту (фотоаппарат, тепловизор, спектральная камера, видеокамера, магнитометр);
        li
          b="Геофизическое оборудование"
          span - малогабаритная каротажная станция, аэрогеофизические беспилотные системы;
        li
          b="Буровое оборудование"
          span - собственный парк бурового оборудования с разнообразными методами бурения, колонковый, шнековый, ударно-вращательный. В том числе, мобильные малогабаритные буровые установки, с возможностью бурения даже в промышленных помещениях.
        li
          span Для обработки данных используются высокопроизводительные компьютеры - одни из самых мощных в РК и специальное программное обеспечение - лицензионные комплексы AutoCAD CIVIL 3D, GeoStab, ArcGis, Agisoft Photoscan, Surpac;
        li Автопарк оснащен надежными внедорожниками, пикапами, квадроциклами, снегоходами, прицепами (в том числе жилыми).
      p Компания была создана с нуля, в 2006 году в г. Караганда. Первоначально в ее штате было всего 2 человека, а основным видом деятельности являлось маркшейдерское обслуживание горных предприятий, которое было выбрано в связи с широко развитой в Казахстане добывающей промышленностью. Уже в 2007 году компания завезла и внедрила первые в Казахстане малогабаритные буровые установки, которые в последующем стали активно использовать и конкуренты. Наиболее важным этапом в становлении и развитии компании можно считать 2013 год. В этом году было подписано партнерское соглашение с компанией ООО «Геоскан» (г. Санкт-Петербург), что позволило ТОО «Бизнес Инжиниринг» стать первым официальным дилером на территории Казахстана. В том же году компанией был приобретен первый беспилотный летательный комплекс. И произведены пробные запуски и его адаптация на рынке Республики. Использование беспилотного летательного аппарата позволило существенно обойти конкурентов в своем регионе за короткий период, сократив сроки выполнения работ до 7-10 раз. В 2014 году было начато строительство собственного трехэтажного офиса с лабораторией и гаражным комплексом. А в 2015 году компания начала планировать запуск отдела продаж. В 2016 году он был успешно запущен и на данный момент идет активная интеграция его деятельности в существующие бизнес-процессы компании. На данном этапе Группа компаний комплексного инжиниринга выполняет полный комплекс работ в области инженерной геологии и геодезии, занимается проектированием разработки добычи полезных ископаемых, выполняет широкий спектр подземных геодезических и геофизических работ, производит маркшейдерские работы любой сложности и по любым направлениям. Основными сегментами деятельности являются: недропользователи, проектные организации, строительные организации, агропромышленный и природоохранный сектор, а также государственный сектор. Имеются стабильные партнерские отношения с: ООО «Геоскан» (г.Санкт-Петербург), ТОО «Құрылысэкспертпроект» (г.Караганда), ТОО «Центргеоланалит» (г.Караганда). Основными клиентами являются: АО «Лонас Технология» (г. Санкт-Петербург), ТОО «Корпорация Казахмыс», АО «Arcelor Mittal», ТОО «Bectas Group», ТОО «Kazzinc», АО «ТНК«Казхром», АО «Евроазиатская энергетическая корпорация», АО «Жайремский ГОК» и другие. Мы работаем по всему Казахстану.
      h4!="Наша компания будет оптимальным дополнением для <br> стабильности и повышения Вашей производительности!"
